extends ../layouts/main

block append body
    .main.container
        .row
            .col-md-12
                .page-header
                    h1 O nama
        .row
            .col-md-12
                p.lead 8. IZLAZAK je tim vrhunskih stručnjaka čiji je temeljni zadatak olakšavanje prolazaka ispita. Naše usluge namijenjene su učenicima i studentima inženjerskih . Aplikacija omogućava komunikaciju i povezivanje svih uključenih strana te osigurava pouzdanost za obje strane koje koriste platformu zbog mogućnosti ocjenjivanja i komentiranja. Uz sve navedeno, nudimo ažurno dobivanje informacija o potrebnim znanjima, što je u današnjem dinamičnom okruženju od izrazite važnosti.
                .row
                    .col-md-4
                        img(src="http://lorempixel.com/450/450/")
                    .col-md-8
                        h2 Vizija
                        p Postati vodeća organizacija koja će omogućiti učenicima i studentima prolazk na ispitima, te kvalitetno znanje.

                        h2 Misija
                        p Želimo biti vodeći pokretač koji omogućava srednjoškolcima i studentima koji žele dodatno iskustvo brzo, lako i provjereno pronalaženje praksi. Uz to, biti relevantan i pouzdan izbor za poduzeća koja su u potrazi za novim, kvalitetnim i motiviranim kadrovima. Lakom komunikacijom, recenzijama i povratnim informacijama stvoriti sinergiju između ciljanih skupina.
