extends ../layouts/main
include ../inc/mixins/general

block append body
  .cover
    .row
      .container.leading


       p Zatraži instrukcije:
      .search
        .row
          .col-md-4
            +selectProfession('profession')
          .col-md-4
            +selectCity('city')
          .col-md-4
            +selectPredmet('predmet')
        .row.but
              button.btn.btn-default Zatraži

  .container
    .row.shortintro
      video#bgvid(autoplay='', loop='', poster='https://unsplash.imgix.net/uploads/1411589183965bdf6e141/5f468e98')
            source(src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm', type='video/webm')
            source(src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4', type='video/mp4')
      //button#vidpause Pause
      .row.but
        button#vidpause.btn.lg.ghost Pause


    .row
      .col-md-12
        .row
         .col-sm-6.col-md-4
            .panel.panel-default
                .panel-heading Krešimir Kušić
                img(src="http://i.imgur.com/lvgU7K8.jpg")
                .panel-body
                    p Grad: Zagreb
                    p Telefon:
                    p E-mail:
                    p Zanimanja:
                    span.label.label-default Matematika I
                    span.label.label-default Matematika II
                    span.label.label-default Mehanika I
                    span.label.label-default Mehanika II
         .col-sm-6.col-md-4
            .panel.panel-default
                .panel-heading Pavao Petrač
                img(src="http://imgur.com/nHJkg2H.jpg")
                .panel-body
                    p Grad: Zagreb
                    p Telefon: 092 3058 743
                    p E-mail: pavao@visokarazina.hr
                    p Zanimanja:
                    span.label.label-default Računalstvo
                    span.label.label-default Algoritmi i programiranje
                    span.label.label-default Statistika


     script.
        var vid = document.getElementById("bgvid");
        var pauseButton = document.getElementById("vidpause");
        function vidFade() {
         vid.classList.add("stopfade");
        }
        vid.addEventListener('ended', function() {
         vid.pause();
         vidFade();
        });
        pauseButton.addEventListener("click", function() {
          vid.classList.toggle("stopfade");
          if (vid.paused) {
           vid.play();
           pauseButton.innerHTML = "Zaustavi";
          } else {
           vid.pause();
           pauseButton.innerHTML = "Zaustavljeno";
          }
        })
