extends ../layouts/main

block append body
    .main.container
        .page-header
            h1 Metodologija
        .row
            .col-md-8
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis dolor in neque vulputate dictum. Morbi purus tortor, interdum at magna et, consectetur ultrices quam. Nullam sed tincidunt est. Ut efficitur massa nisl, eu feugiat dolor vestibulum ac. Duis maximus diam augue, quis dapibus augue elementum a. Mauris at auctor enim. Fusce hendrerit eros sit amet nulla dapibus, eget mollis magna aliquet. Vivamus scelerisque sit amet leo vel fermentum. Duis et urna pretium ligula bibendum semper molestie sit amet lacus. Fusce pretium sodales dapibus. Maecenas sit amet justo vestibulum arcu sagittis rutrum eget a nibh. Vivamus rutrum enim vitae feugiat vulputate. Phasellus neque ex, vulputate sed ultricies at, laoreet sit amet magna. Donec porta, nunc in interdum luctus, tortor augue lacinia erat, a fermentum diam nisl et arcu. Praesent sem dui, egestas nec varius nec, accumsan quis lacus.
                p.lead Kome cete pomoci
                ul
                    li asdsdsfds
                    li dsf sdf
                    li sdfsdfsfd sd
                    li dsf asdfe sa
            .col-md-4
                .donate-cta
                    p Da bismo unaprijedili web aplikaciju na kojoj se nalazite, potrebna nam je podrška velikodušnih ljudi poput vas. Svojom donacijom ćete pomoći daljnjem razvoju i usavršavanju ovog projekta, kao i daljnjem razvoju učenika strukovnih škola i studenata u strukama za koje se obrazuju.  Hvala vam!
                    form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                        input(type='hidden', name='cmd', value='_donations')
                        input(type='hidden', name='business', value='7uk4.bd@gmail.com')
                        input(type='hidden', name='lc', value='GB')
                        input(type='hidden', name='item_name', value='TvojaPraksa')
                        input(type='hidden', name='no_note', value='0')
                        input(type='hidden', name='currency_code', value='USD')
                        input(type='hidden', name='bn', value='PP-DonationsBF:donate-button.gif:NonHostedGuest')
                        button.btn.btn-default(type="submit")
                            span Doniraj sada &nbsp;
                            i.pulse2.glyphicon.glyphicon-heart.text-danger
                        img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

                .row
                    .col-md-12
                        h3 Uspjesne kampanje
                        .list-group
                            a.list-group-item(href='#')
                              h4.list-group-item-heading Srednjoskolski dom
                              p.list-group-item-text
                              | Donirano > $9000
                            a.list-group-item(href='#')
                              h4.list-group-item-heading Druga kampanja
                              p.list-group-item-text
                              | as dfdsfdsfd sd sflsaf asf
                            a.list-group-item(href='#')
                              h4.list-group-item-heading Druga kampanja
                              p.list-group-item-text
                              | as dfdsfdsfd sd sflsaf asf
