extends ../layouts/main

block append body
    .main.container
        .row.partners
          .col-md-12
            h2 Pokrivamo područja
            .row
             .col-md-3
                .panel.panel-default
                    .panel-body
                        img(src="http://i.imgur.com/e9B260i.jpg")
                        p Matematika I
             .col-md-3
                .panel.panel-default
                    .panel-body
                        img(src="http://i.imgur.com/Sb7mjdA.jpg")
                        p Matematika II
             .col-md-3
                .panel.panel-default
                    .panel-body
                        img(src="http://i.imgur.com/1mwsWQc.jpg")
                        p Računalstvo
              .col-md-3
                .panel.panel-default
                    .panel-body
                        img(src="http://i.imgur.com/W4loolS.jpg")
                        p Mehanika I
              .col-md-3
                .panel.panel-default
                    .panel-body
                        img(src="http://i.imgur.com/yYSdUtl.jpg")
                        p Mehanika II
              .col-md-3
                .panel.panel-default
                    .panel-body
                        img(src="http://i.imgur.com/yYSdUtl.jpg")
                        p Vjerojatnost i Statistika
        .row.partners
          .col-md-12
            h2 Naši partneri
            .row
             .col-md-3
                .panel.panel-default
                    .panel-body
                        img(src="http://i.imgur.com/Z9Qc2LV.png")
                        p Visoka Razina d.o.o.
             .col-md-3
                .panel.panel-default
                    .panel-body
                        img(src="http://lorempixel.com/400/400/")
                        p Tvrtka 2
             .col-md-3
                .panel.panel-default
                    .panel-body
                        img(src="http://lorempixel.com/400/400/")
                        p Tvrtka 3
              .col-md-3
                .panel.panel-default
                    .panel-body
                        img(src="http://lorempixel.com/400/400/")
                        p Tvrtka 4
