doctype html
html
    head
        title React test
        script(src="/static/vendor/react/react.min.js")
        script(src="/static/vendor/react/JSXTransformer.js")
    body
        #content
    script(type="text/jsx").
        var CommentBox = React.createClass({
            render: function() {
                return (
                    <div className="commentBox">
                        Hello, world! I am a CommentBox.
                    </div>
                );
            }
        });
        React.render(
            <CommentBox />,
            document.getElementById('content')
        );
