extends ../layouts/main

block append body
    .main.container
        .row
            .col-md-12
                .page-header
                    h1 Uvjeti koristenja
        .row
            .col-md-12
                ul
                    li Prema zakonu ..........
                    li asdsf asdf ds sf sdg fd
