mixin selectProfession(valName)
    select.form-control(name=valName)
        option 1 sat
        option 2 sat
        option 3 sat
        option 4 sat

mixin selectCity(valName)
    select.form-control(name=valName)
        option(value="1 osoba") 1 osoba
        option(value="2 osobe") 2 osobe
        option(value="3 Osobe") 3 osobe
        option(value="4 osoba") 4 osobe
        option(value="5 osoba") 5 osoba

mixin selectPredmet(valName)
    select.form-control(name=valName)
        option(value="Matematika I") Matematika I
        option(value="Matematika II") Matematika II
        option(value="Računalstvo") Računalstvo
        option(value="Algoritmi i programiranje") Algoritmi i Programiranje
        option(value="Vjerojatnost i Statistika") Vjerojatnost i Statistika
        option(value="Mehanika I") Mehanika I
        option(value="Mehanika II") Mehanika I
