extends ../layouts/auth

block body
    h2.form-auth-heading Zaboravljena lozinka
    p Upisi svoju email adresu kako bi ti poslali link za promjenu lozinke
    .form-group
        input.form-control(type="text", name="email", placeholder="Tvoj email")
    button.btn.btn-lg.btn-primary.btn-block(type="submit") Posalji
