extends ../layouts/auth

block body
    h2.form-auth-heading Ulogiraj se
    label.sr-only(for='inputEmail') Email adresa
    input#inputEmail.form-control(type='email', placeholder='Email address', required, autofocus)
    label.sr-only(for='inputPassword') Lozinka
    input#inputPassword.form-control(type='password', placeholder='Lozinka', required)
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Ulaz
    .form-auth-footer
        a.pull-left(href="/forgot-password") Zaboravljena lozinka?
        a.pull-right(href="/register") Registracija
