extends ../layouts/auth

block body
    h2.form-auth-heading Registracija
    .form-group
        label Ime
        input.form-control(type="text", name="firstname", id="firstname")
    .form-group
        label Prezime
        input.form-control(type="text", name="lastname", id="lastname")
    .form-group
        label Email
        input.form-control(type="text", name="email", id="email")
    .form-group
        label Lozinka
        input.form-control(type="password", name="password", id="password")
    .form-group
        label Ponovi lozinku
        input.form-control(type="password", name="repeat_password", id="repeat_password")

    button.btn.btn-lg.btn-primary.btn-block(type="submit") Registriraj me
