block footer
    .site-footer.container-fluid
        footer.text-center
            p.pull-right
                a(href='#') Vrati se na vrh
            p © 2015 8. Izlazak&nbsp;
                a(href='uvjeti-koristenja') Uvjeti koristenja

block scripts
    script(src='/static/build/js/components.min.js')
    script(src="/static/build/js/main.js")
    script(src="/static/build/js/pauza.js")
