block head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content=desc)
    meta(name='author', content=author)
    link(rel='icon', href='/favicon.ico')
    title=title
    // Bootstrap core CSS
    link(href='/static/build/css/style.css', rel='stylesheet')
    link(href='/static/build/css/components.min.css', rel='stylesheet')
    link(href='https://bootswatch.com/united/bootstrap.min.css', rel='stylesheet')

    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
