doctype html
html
    head
        include ../inc/head
    body
        .container
            h1.auth-logo
                a(href="/") 8. Izlazak
            form.form-auth
                block body
