doctype html
html(lang='en')
  head
    block head
        include ../inc/head
  body
    block body
        .row
            .container-fluid
                nav.navbar.navbar-default.navbar-fixed-top
                  .container
                    // Brand and toggle get grouped for better mobile display
                    .navbar-header
                      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Menu
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                      a.navbar-brand(href='/')=title
                    // Collect the nav links, forms, and other content for toggling
                    .collapse.navbar-collapse
                      ul.nav.navbar-nav.navbar-right
                        li
                          a(href='o-nama') O nama
                        li
                          a(href='/metodologija') Metodologija
                        li
                          a(href='/predmeti') Predmeti
                        li
                          a(href='/login') LogIn


    block footer
        include ../inc/foot
