html, body {
    height: 100%;
}

img,
input {
    max-width: 100%;
}

.main {
    margin-top: 46px;
}

.navbar {
    margin-bottom: 0;
}

.leading {
    text-align: center;
    margin-top: 60px;
    padding: 20px;

    h1,
    p {
        color: #333;
    }
}

.cover {
    padding: 0 15px;
    background: url('https://ununsplash.imgix.net/18/run.JPG?q=75&fm=jpg&s=97407607b3ae342bee640fdc3cec2f4e') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.shortintro {
    margin: 70px 0;

    h2 {
        margin: 0 0 1.3em 0;
    }
}

.search {
    margin: 40px auto;
    width: 600px;
    height: 100px;

    label {
        font-size: 14px;
        line-height: 37px;
    }
}
.donate-cta{
    text-align: center;

    p {
        text-align: left;
    }

    button {
        margin: 10px auto 30px auto;

        span {
            display: inline-block;
        }

        i {
            top: 2px;
        }
    }
}

.pulse2 {
    -webkit-animation: pulse2 1s linear infinite;
    -moz-animation: pulse2 1s linear infinite;
    -ms-animation: pulse2 1s linear infinite;
    animation: pulse2 1s linear infinite;
}

@keyframes "pulse2" {
 0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
 }
 50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
 }

}

@-moz-keyframes pulse2 {
 0% {
   -moz-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }

}

@-webkit-keyframes "pulse2" {
 0% {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}

@-ms-keyframes "pulse2" {
 0% {
   -ms-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
 }

}

.site-footer {
    width: 100%;
    margin-top: 2em;
    padding: 60px 20px;
    background: #fafafa;
    border-top: 1px solid #e8e8e8;
}

.auth-logo {
    text-align: center;
}

.form-auth {
    margin: 80px auto 0 auto;
    width: 400px;

    input {
        margin-bottom: 12px;

    }
    button[type="submit"] {
        margin-bottom: 12px;
    }
}

.panel-body {
    .label {
        margin-right: 6px;
    }
}

.partners {
    .panel-body {
        position: relative;
        padding: 0;
    }
    p {
        position: absolute;
        padding: 20px 0;
        text-align: center;
        background: rgba(0, 0, 0, .7);
        color: #fff;
        margin: 0;
        width: 100%;
        bottom: 0;
    }
}
